body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-image: linear-gradient(rgb(36, 36, 82), black, rgb(36, 36, 82)); */
}

* {
  margin: 0;
  padding: 0;
}
